{% extends 'ketabkhaar/base.html' %}

{% block title %}
    <title>کتابینو - مشخصات کتاب {{ book.title }}</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'books/css/style-book-info.css' %}"/>
{% endblock %}


{% block content %}
    <div class="ui container detail-margin">
        <div class="ui grid container">
            <!-- shopping and pic -->
            <div class="four wide column center aligned">
                <div class="ui small rounded image center aligned">
                    <img class="book-info-img" src="/{{ book.pic }}">
                </div>
                <h3 class="ui header">{{ book.price }} تومان</h3>
                {% if book.owner.user != request.user %}
                {% if not book.borrower %}
                <form action="{% url 'books:vending' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <button id="add-shoppingbag" class="ui orange inverted button link" type="submit">امانت‌گیری</button>
                </form>
                {% else %}
                    {% if book.borrower.user == request.user %}
                       <form action="{% url 'books:give_back' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button id="add-shoppingbag" class="ui red inverted button link" type="submit">بازگرداندن</button>
                        </form>
                    {% else %}
                        <h3 class="ui header"> این کتاب در امانت است</h3>
                    {% endif %}
                {% endif %}
                {% endif %}

                <div class="ui divider"></div>
                <div>
                    <h3 class="ui header">امتیاز دهید</h3>
                    <div class="ui huge star rating" id="rate-star"></div>
                </div>
            </div>
            <!-- book info -->
            <div class="nine wide column right aligned">
                <h2 class="header">{{ book.title }}</h2>
                <p style="font-size: medium"> نوشته شده توسط
                    <strong>{{ book.author }}</strong>
                </p>
                {% if book.translator %}
                    <p style="font-size: medium"> مترجم
                        <strong>{{ book.translator }}</strong>
                    </p>
                {% endif %}
                <div class="ui huge star rating" id="rate-star2"></div>{{ book_rate }}
                <div class="shorten">
                    {{ book.description }}
                </div>
                <div class="ui divider info-divider"></div>
                <h3 class="ui header font-bold">اطلاعات بیشتر </h3>
                <p style="font-size: medium">صاحب کتاب:
                    <a href="{% url 'accounts:user_profile' book.owner.user.id %}"><strong>{{ book.owner.user.username }}</strong></a>
                </p>
                <p style="font-size: medium"> ناشر : {{ book.publisher }}</p>
                <span> شماره شابک : {{ book.isbn }}</span>
                <div class="ui divider info-divider"></div>
                <!-- recommended cards -->
                <div>
                    <h2 class="ui header">کتاب های مرتبط</h2>
                    <div class="ui grid container">
                        {% for book in related_books %}
                            <div class="four wide column ">
                                <div class="ui link special cards">
                                    <div class="red card" >
                                        <div class="blurring dimmable image">
                                            <div class="ui inverted dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <a href="{% url 'books:book_details' book.id %}">
                                                            <div class="ui inverted button">مشاهده</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="/{{ book.pic }}">
                                        </div>
                                        <div class="content">
                                            <a class="header" href="{% url 'books:book_details' book.id %}">{{ book.title }}</a>
                                            <div class="meta"> {{ book.author }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui divider info-divider"></div>
                <div>

                    <div class="ui grid container">
                        <div class="ui two column row">
                            <div class="right floated column">
                                <h2 class="ui header">نقد و بررسی</h2>
                            </div>
                            <div class="left floated column left aligned">
                                <button class="ui grey inverted button link" id="comment">نوشتن نقد جدید</button>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="sixteen wide column">
                                <div class="ui items">
                                    {% for review in book.bookreview_set.all %}
                                        <div class="item">
                                            <div class="image">
                                                <img src="/{{ user.userprofile.avatar }}">
                                            </div>
                                            <div class="content">
                                                <a class="header">{{ review.user_profile }}</a>
                                                <div class="meta">
                                                    <span>{{ review.text }}</span>
                                                </div>
                                                <div class="description">
                                                    <p></p>
                                                </div>
                                                <div class="extra">
                                                    <div class="left floated">
                                                        {{ review.date }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui small modal" id="comment-modal">
        <i class="close icon"></i>
        <div class="header">
            نوشتن نقد جدید
        </div>
        <div class=" content">
            <div class="content-margin">
            </div>
            <span></span>
            <div class="description">
                <form class="ui form">
                    <div class="field">
                        <div class="sixteen wide required field">
                            <label>متن</label>
                            <textarea id="review-text" type="text" placeholder="متن نقد"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui orange button" id="send-comment-btn">ثبت</div>
            <div class="ui inverted grey button " id="comment-cancel">بازگشت</div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function() {

            $.fn.shorten = function (settings) {

                var config = {
                    showChars: 100,
                    ellipsesText: "...",
                    moreText: "more",
                    lessText: "less"
                };

                if (settings) {
                    $.extend(config, settings);
                }

                $(document).off("click", '.morelink');

                $(document).on({click: function () {

                    var $this = $(this);
                    if ($this.hasClass('less')) {
                        $this.removeClass('less');
                        $this.html(config.moreText);
                    } else {
                        $this.addClass('less');
                        $this.html(config.lessText);
                    }
                    $this.parent().prev().toggle();
                    $this.prev().toggle();
                    return false;
                }
                }, '.morelink');

                return this.each(function () {
                    var $this = $(this);
                    if($this.hasClass("shortened")) return;

                    $this.addClass("shortened");
                    var content = $this.html();
                    if (content.length > config.showChars) {
                        var c = content.substr(0, config.showChars);
                        var h = content.substr(config.showChars, content.length - config.showChars);
                        var html = c + '<span class="moreellipses">' + config.ellipsesText + ' </span><span class="morecontent"><span>' + h + '</span> <a href="#" class="morelink">' + config.moreText + '</a></span>';
                        $this.html(html);
                        $(".morecontent span").hide();
                    }
                });

            };


            $(".shorten-txt").shorten({
                "showChars" : 50,
                "moreText"	: "بیشتر",
                "lessText"	: "کمتر",
            });
        });
    </script>

    <script>
        $(function(){
            $('.ui.rating')
                .rating({
                    initialRating: {{ user_book_rate }},
                    maxRating: 5
                })
            ;
            $('#rate-star2')
                .rating({
                    initialRating: parseInt({{ book_rate }}),
                    maxRating: 5
                })
                .rating('disable')
            ;
            $('.ui.dropdown')
                .dropdown()
            ;
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        });
    </script>

    {% if user.is_authenticated %}
        <script>
            $(function() {
                $('#comment-modal')
                    .modal('attach events', '#comment', 'show')
                    .modal('attach events', '#comment-cancel', 'cancel')
                ;

                $('#rate-star')
                    .rating('setting', 'onRate', function(value) {
                        $.ajax({
                            url: "{% url 'books:rate_book' book.id %}",
                            method: 'post',
                            async: false,
                            data: {
                                'rate': value,
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function(data) {
                                if (data.status == 'ok') {
                                    window.location.href = data.url
                                }
                                else {
                                    console.error('cannot rate')
                                }
                            },
                            error: function() {
                                console.error('eeeeerrrrrrooooorrrrrr');
                            }
                        });
                    });



                $('#send-comment-btn').click(function() {
                    $.ajax({
                        url: "{% url 'books:add_book_review' book.id %}",
                        method: 'post',
                        async: false,
                        data: {
                            title: $('#review-title').val(),
                            text: $('#review-text').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function(data) {
                            if (data.status === "ok") {
                                window.location.href = data.url;
                            }
                            else {
                                console.error('cannot fav');
                            }
                        },
                        error: function() {
                            console.error('eeeeerrrrrrooooorrrrrr');
                        }
                    });
                });
            });

        </script>

    {% else %}


        <script>
            $(function() {
                $('#comment').click(function() {
                    window.location.href = '{% url 'accounts:user_login' %}';
                });

                $('#rate-star')
                    .rating('setting', 'onRate', function() {
                        window.location.href = "{% url 'accounts:user_login' %}"
                    });
            });
        </script>


    {% endif %}

{% endblock %}
