{% extends 'ketabkhaar/base.html' %}


{% block title %}
    <title>کتابینو - ورود</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/css/style-login.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui container login-margin">
        <div class="ui one column grid login-grey" >
            <div class="column">
                <div class="ui center aligned grid">
                    <div class="eight wide center alined column">
                        {% if is_borrowing %}
                            <span>درخواست امانت کتاب {{ book.title }} با موفقیت ارسال شد. </span>
                        {% else %}
                            <span> کتاب {{ book.title }} با موفقیت به صاحب آن بازگردانده شد. </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
