{% extends 'ketabkhaar/base.html' %}


{% block title %}
    <title>کتابینو - افزایش اعتبار</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/css/style-login.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui container login-margin">
        <div class="ui one column grid login-grey" >
            <div class="column">
                <h2>ثبت کتاب جدید</h2>
                <div class="ui divider"></div>

                <div class="ui center aligned grid">
                    {% if created %}
                        <div class="eight wide center alined column">
                            <span>کتاب {{ book.title }} با موفقیت ثبت شد.</span>
                        </div>
                    {% else %}
                    <div class="ten wide column">
                        <form class="ui form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="ui center aligned grid">
                                <div class="row">
                                    <div class="ten wide right aligned column">
                                        {{ new_book_form.as_p }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="sixteen wide column">
                                        <input class="ui teal button" type="submit" value="ثبت کتاب جدید"/>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>

        $(function(){
            $('.ui.checkbox')
                .checkbox()
        });
    </script>
{% endblock %}

