{% extends 'ketabkhaar/base.html' %}


{% block title %}
    <title>کتابینو - ورود</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/css/style-login.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui container login-margin">
        <div class="ui one column grid login-grey">
            <div class="column">
                <h2>وارد کردن کد ارسال شده</h2>
                <div class="ui divider"></div>

                <div class="ui center aligned grid">
                <div class="ten wide column">
                    <div class="row">
                                            کد تأیید ارسال شده به {{ phone_number }} را وارد کنید.
                    </div>
                    <div class="row">
                        <a href="/accounts/login/">شماره را اشتباه وارد کرده‌ام</a>
                    </div>
                </div>
                    <div class="ten wide column">
                        {% if error %}
                        <div class="eight wide center alined column">
                            <span>{{ error }}</span>
                        </div>
                        {% endif %}
                        <form class="ui form" action="/accounts/enter-confirmation-code/" method="post">
                            {% csrf_token %}
                            <div class="ui center aligned grid">
                                <div class="row">
                                    <div class="six wide right aligned column">
                                        {{ confirmation_code_form.as_p }}
                                          <input type="hidden" value="{{ phone_number }}" name="phone_number">
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="sixteen wide column">
                                            <input class="ui orange button" type="submit" value="تأیید"/>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>

        $(function () {
            $('.ui.checkbox')
                .checkbox()
        });
    </script>
{% endblock %}
