{% extends 'ketabkhaar/base.html' %}


{% block title %}
    <title>حساب کاربری {{ user.user.username }}</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style-profile.css' %}"/>
{% endblock %}


{% block content %}
    {% csrf_token %}
    <div class="ui container con-margin page-wrap">
        <div class="ui grid container">
            <!-- information -->
            <div class="three wide column right aligned ">
                <h2 class="ui header">{{ user_profile.user.first_name}} {{ user_profile.user.last_name }}</h2>
                <div class="ui small rounded image center aligned">
                    <img src="/{{ user_profile.avatar }}">
                </div>
                {% if is_owner %}
                <div class="ui divider " ></div>
                <div class="ui animated large relaxed link right aligned list">
                    <a class="underline-link item right aligned"
                       href="{% url 'accounts:edit_profile' %}">ویرایش مشخصات</a>
                    <div>
                        اعتبار فعلی: {{ user_profile.credit }} تومان
                    </div>
                    <a class="underline-link item right aligned"
                       href="{% url 'accounts:increase_credit' %}">افزایش اعتبار</a>
                    <span>کد معرفی:
                        <input id="referral" style="border: none; outline: none; cursor: pointer" onclick="copy();" value="{{ user_profile.referral_code }}" />
                    </span>
                </div>
                {% endif %}
                {% if user_profile.referrer %}
                <div class="ui divider " ></div>
                <div class="ui animated large relaxed link right aligned list">
                    <a class="underline-link item right aligned"
                       href="{% url 'accounts:user_profile' user_profile.referrer.user.id %}">معرفی شده توسط {{ user_profile.referrer.user.username }}</a>
                </div>
                {% endif %}
            </div>
            <!-- tab info -->
            <div class="thirteen wide column right floating">
                <div class="ui container">
                    <div class="ui top attached tabular menu">
                        <a id="readingprogram-header" class="item " data-tab="first">
                            <span class="tab-title">کتاب‌ها</span>
                        </a>
                        <a id="favlist-header" class="item" data-tab="second">
                            <span class="tab-title">لیست امتیازها</span>
                        </a>
                        <a id="reviews-header" class="item" data-tab="third">
                            <span class=" center text tab-title">نقدها</span>
                        </a>
                        {% if is_owner %}
                        <a id="ordershistory-header" class="item" data-tab="forth">
                            <span class="tab-title">امانت‌های شما</span>
                        </a>
                        <a id="borrowrequests-header" class="item" data-tab="fifth">
                            <span class="tab-title">درخواست‌های امانت</span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- first tab -->
                    <div id="readingprogram-tab" class="ui bottom attached tab segment back-grey" data-tab="first">
                        <table class="ui  teal table">

                            {% if books %}

                                <thead>
                                <tr><th class="one wide">#</th>
                                    <th class="four wide">عنوان</th>
                                    <th class="three wide">نویسنده</th>
                                    <th class="three wide">مترجم</th>
                                    <th>امتیاز</th>
                                    <th class="three wide">در امانت‌</th>
                                    <!--<th class="left aligned">حذف</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in books %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'books:book_details' book_id=book.id %}">{{ book.title }}</a></td>
                                        <td class="three wide">{{ book.author }}</td>
                                        <td class="three wide">
                                            {% if book.translator %}
                                                {{ book.translator }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ book.get_avg_rating }}</td>
                                        <td class="three wide">
                                            {% if book.borrower %}
                                                {% if is_owner %}
                                                    <a href="{% url 'accounts:user_profile' user_id=book.borrower.user.id %}">{{ book.borrower.user.username }}</a>
                                                {% else %}
                                                    بله
                                            {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <!--<td class="left aligned">-->
                                            <!--<button-->
                                                    <!--id="remove-readingprogram-button"-->
                                                    <!--data-program-id= "{{ id }}"-->
                                                    <!--class="ui circular icon button">-->
                                                <!--<i class="trash icon"></i>-->
                                            <!--</button>-->
                                        <!--</td>-->
                                    </tr>

                                {% endfor %}

                                </tbody>

                            {% else %}
                                <div class="ui center aligned container">
                                    کتابی برای نمایش وجود ندارد.
                                </div>
                            {% endif %}
                        </table>

                    </div>
                    <!-- second tab -->
                    <div id="favlist-tab" class="ui bottom attached tab segment back-grey" data-tab="second">
                        <table class="ui red table">
                            {% if ratings %}
                                <thead>
                                <tr><th class="one wide">#</th>
                                    <th class="four wide">عنوان</th>
                                    <th>نویسنده</th>
                                    <th>مترجم</th>
                                    <th>امتیاز</th>
                                    <th class="left aligned">حذف</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rating in rated %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ rating.book.title }}</td>
                                        <td>{{ rating.book.author }}</td>
                                        <td>
                                            {% if rating.book.translator %}
                                                {{ rating.book.translator }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ rating.book.get_avg_rating }}</td>
                                        <td class="left aligned">
                                            <button id="remove-fav-button"
                                                    data-fav-id="{{ rating.id }}" class="ui circular icon button">
                                                <i class="trash icon"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            {% else %}
                                <div class="ui center aligned container">
                                    تاکنون امتیازی ثبت نشده است.
                                </div>
                            {% endif %}

                        </table>

                    </div>
                    <!-- third tab -->
                    <div id="reviews-tab" class="ui bottom attached tab segment back-grey" data-tab="third">
                        <table class="ui  blue table">
                        {% if reviews %}
                            <thead>
                            <tr><th class="one wide">#</th>
                                <th class="four wide">عنوان</th>
                                <th class="three wide">نویسنده</th>
                                <th class="two wide">مترجم</th>
                                <th class="one wide">امتیاز</th>
                                <th>نقد</th>
                                <th class="left aligned">حذف</th>
                            </tr></thead>
                            <tbody>
                            {% for review in reviews %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ review.book.title }}</td>
                                    <td class="three wide">{{ review.book.author }}</td>
                                    <td class="two wide">
                                        {% if review.book.translator %}
                                            {{ review.book.translator }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ review.book.get_avg_rating }}</td>
                                    <td>
                                        {{ review.text }}
                                    </td>
                                    <td class="left aligned">
                                        <button id="remove-review-button"
                                                data-review-id= "{{ review.id }}"
                                                class="ui circular icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <div class="ui center aligned container">
                            تاکنون هیچ نقدی ثبت نکرده‌اید.
                            </div>
                        {% endif %}
                        </table>

                    </div>
                    <!-- forth tab -->
                    {% if is_owner %}
                    <div id="ordershistory-tab" class="ui bottom attached tab segment back-grey history-margin" data-tab="forth">
                        <table class="ui purple table">

                            {% if borrows %}

                                <thead>
                                <tr><th class="one wide">#</th>
                                    <th class="four wide">نام کتاب</th>
                                    <th class="three wide">صاحب کتاب</th>
                                    <th class="three wide">وضعیت</th>
                                    <th class="three wide">لغو درخواست</th>
                                    <!--<th class="left aligned">حذف</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {% for req in borrows %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'books:book_details' book_id=req.book.id %}">{{ req.book.title }}</a></td>
                                        <td>
                                            <a href="{% url 'accounts:user_profile' user_id=req.book.owner.user.id %}">{{ req.book.owner.user.username }}</a>
                                        </td>
                                        <td>{{ req.get_status_display }}</td>
                                        <td>
                                            {% if req.status == 'u' %}
                                            <button
                                                    data-request-id= "{{ req.id }}"
                                                    class="ui purple circular icon cancel button"
                                                    onclick="cancel(this);">
                                                <i class="remove icon"></i>
                                            </button>
                                            {% else %}
                                            امکان لغو درخواست وجود ندارد.
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>

                            {% else %}
                                <div class="ui center aligned container">
                                    شما امانتی ندارید.
                                </div>
                            {% endif %}
                        </table>
                    </div>
                    <div id="borrowrequests-tab" class="ui bottom attached tab segment back-grey history-margin" data-tab="fifth">
                        <table class="ui  brown table">

                            {% if borrow_requests %}

                                <thead>
                                <tr><th class="one wide">#</th>
                                    <th class="four wide">نام کتاب</th>
                                    <th class="three wide">توسط</th>
                                    <th class="three wide">وضعیت</th>
                                    <th class="three wide">پاسخ‌دهی</th>
                                    <!--<th class="left aligned">حذف</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {% for req in borrow_requests %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'books:book_details' book_id=req.book.id %}">{{ req.book.title }}</a></td>
                                        <td>
                                            <a href="{% url 'accounts:user_profile' user_id=req.borrower.user.id %}">{{ req.borrower.user.username }}</a>
                                        </td>
                                        <td>{{ req.get_status_display }}</td>
                                        <td>
                                            {% if req.status == 'u' %}
                                            <button
                                                    data-request-id= "{{ req.id }}"
                                                    class="ui green circular icon accept button"
                                                    onclick="accept(this);">
                                                <i class="checkmark icon"></i>
                                            </button>
                                            <button
                                                    data-request-id= "{{ req.id }}"
                                                    class="ui red circular icon reject button"
                                                    onclick="reject(this);">
                                                <i class="remove icon"></i>
                                            </button>
                                            {% else %}
                                            درخواست قبلاً پاسخ داده شده است.
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>

                            {% else %}
                                <div class="ui center aligned container">
                                    درخواست امانتی وجود ندارد.
                                </div>
                            {% endif %}
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="ui small modal" id="reading-modal">
        <i class="close icon"></i>
        <div class="header">بروزرسانی برنامه مطالعاتی</div>
        <div class=" content">
            <div class="content-margin"></div>
            <div class="description">
                <div class="ui grid container">
                    <div class="three wide column">
                        <div class="ui image">
                            <img id="modal-img" class="" src="/">
                        </div>
                    </div>
                    <div class="thirteen wide column">
                        <div class="ui row">

                            <h4 id="modal-title" class="ui header">در حال بارگذاری ...</h4>
                            <div class="ui left labeled input">
                                <div class="ui label">صفحه</div>
                                <input id="modal-currentpage" type="text" placeholder="شماره صفحه">
                                <div id="modal-pagecount" class="ui basic label" id="t-pages">از ...</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ui indicating  progress" data-value="0" data-total="345" id="reading-progress-update">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div id="update-readingprogram" class="ui orange button">ذخیره</div>
            <div class="ui inverted grey button " id="reading-cancel">بازگشت</div>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        var accept, reject, cancel;
        $(document).ready(function() {
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();
            accept = function(button) {
                $.post("{% url 'books:accept' %}", {
                    "csrfmiddlewaretoken": csrf,
                    "request_id": $(button).attr('data-request-id')
                }, function(data) {
                    $(button).parent().html('پاسخ شما ثبت شد.');
                    setTimeout(function() {
                        document.location = document.location;
                    }, 3000);
                });
            };
            reject = function(button) {
                $.post("{% url 'books:reject' %}", {
                    "csrfmiddlewaretoken": csrf,
                    "request_id": $(button).attr('data-request-id')
                }, function(data) {
                    $(button).parent().html('پاسخ شما ثبت شد.');
                    setTimeout(function() {
                        document.location = document.location;
                    }, 3000);
                });
            };
            cancel = function(button) {
                $.post("{% url 'books:cancel' %}", {
                    "csrfmiddlewaretoken": csrf,
                    "request_id": $(button).attr('data-request-id')
                }, function(data) {
                    $(button).parent().html('درخواست لغو شد.');
                    setTimeout(function() {
                        document.location = document.location;
                    }, 3000);
                });
            };
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var active_tab = {{ active_tab }};
            switch (active_tab) {
                case 1:
                    $('#favlist-header').addClass('active', 'back-grey');
                    $('#favlist-tab').addClass('active');
                    break;
                case 2:
                    $('#readingprogram-header').addClass('active', 'back-grey');
                    $('#readingprogram-tab').addClass('active');
                    break;
                case 3:
                    $('#reviews-header').addClass('active', 'back-grey');
                    $('#reviews-tab').addClass('active');
                    break;
                case 4:
                    $('#ordershistory-header').addClass('active', 'back-grey');
                    $('#ordershistory-tab').addClass('active');
                    break;
                default:
                    $('#favlist-header').addClass('active', 'back-grey');
                    $('#favlist-tab').addClass('active');
            }

            $('#reading-link').click(function () {
                var program_id = $(this).attr('data-programid');
                $.ajax({
                    url: "" + program_id + "/",
                    method: 'get',
                    success: function(data) {
                        if (data.status === "ok") {
                            console.log(data);
                            $('#modal-img').attr('src', "/" + data.book_image);
                            $('#modal-title').text(data.book_title);
                            $('#modal-pagecount').text(data.book_page_count);
                            $('#modal-currentpage').val(data.current_page);
                            $('#reading-progress-update').attr('data-total', data.book_page_count);
                            $('#reading-progress-update').attr('data-value', data.current_page);
                            $('#reading-progress-update').progress({
                                label: 'ratio',
                                text: {
                                    ratio: '{value} از {total}'
                                }
                            });
                            $('#modal-currentpage').on('input',function(){
                                value = parseInt($('#modal-currentpage').val());
                                console.log('value: ' + value);
                                $('#reading-progress-update').progress('update progress', value);
                            });
                            $('#update-readingprogram').click(function() {
                                value = parseInt($('#modal-currentpage').val());
                                $.ajax({
                                    url: "" +
                                    program_id + "/update/",
                                    method: 'post',
                                    data: {
                                        current_page: value,
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                    },
                                    success: function(data) {
                                        if (data.status === "ok") {
                                            window.location.href = data.url;
                                        }
                                        else {
                                            console.error('cannot add');
                                        }
                                    },
                                    error: function() {
                                        console.error('eeeeerrrrrrooooorrrrrr');
                                    }
                                });
                            });
                        }
                        else {
                            console.error('cannot get program data');
                        }
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                });
            });

            $('#remove-fav-button').click(function() {
                var id = $(this).attr('data-fav-id');
                $.ajax({
                    url: "" + id + "/remove/",
                    method: 'post',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(data) {
                        if (data.status === "ok") {
                            window.location.href = data.url;
                        }
                        else {
                            console.error('cannot remove');
                        }
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                })
            });

            $('#remove-readingprogram-button').click(function() {
                var id = $(this).attr('data-program-id');
                $.ajax({
                    url: "" + id + "/remove/",
                    method: 'post',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(data) {
                        if (data.status === "ok") {
                            window.location.href = data.url;
                        }
                        else {
                            console.error('cannot remove');
                        }
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                })
            });


            $('#remove-review-button').click(function() {
                var id = $(this).attr('data-review-id');
                $.ajax({
                    url: "" + id + "/remove/",
                    method: 'post',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(data) {
                        if (data.status === "ok") {
                            window.location.href = data.url;
                        }
                        else {
                            console.error('cannot remove');
                        }
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                })
            });
        });

        function copy() {
            var copyText = document.getElementById('referral');
            copyText.select();
            document.execCommand("Copy");
            alert('کد معرفی شما در Clipboard قرار گرفت.');
        }
    </script>
    <script type="text/javascript" src="{% static 'accounts/js/profiles.js' %}"></script>
{% endblock %}


