{% extends 'ketabkhaar/base.html' %}

{% block title %}
    <title>ویرایش پروفایل</title>
{% endblock %}


{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style-settings.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui container setting-margin">

        <div class="ui grid container">

            <div class="row">
                <h1>تنظیمات</h1>
                <div class="ui divider setting-divider"></div>
            </div>

            <div class="row">
                <div class="four wide column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="ui column">
                                <img class="ui small rounded image" src="/{{ user_profile.avatar.url }}">
                            </div>
                        </div>
                        <div class="row">
                            <button class="ui left floated grey inverted submit button" type="file" >تغییر عکس کاربری</button>
                        </div>
                    </div>
                </div>
                <div class="two wide column">
                    <h3>نام کاربری</h3>
                </div>
                <div class="three wide column">
                    <h5>{{ user_profile.user.username }}</h5>
                </div>
            </div>
            <div class="row">
                <h3>اطلاعات شما</h3>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <form class="ui  form submit-form" name="information" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="other" />
                        <div class="ui  two fields">
                            <div class="eight wide  field">
                                <label>نام</label>
                                <input name="name" type="text" placeholder="نام" value="{{ user_profile.user.first_name }}" />
                            </div>
                            <div class="eight wide field">
                                <label>نام خانوادگی</label>
                                <input name="familyName" type="text" placeholder="نام خانوادگی" value="{{ user_profile.user.last_name }}" />
                            </div>
                        </div>
                        <div class="ui  two fields">
                            <div class="eight wide field">
                                <label>پست الکترونیکی</label>
                                <input name="email" type="email" placeholder="email" value="{{ user_profile.user.email }}" />
                            </div>
                            <div class="eight wide field">
                                <label>تاریخ تولد</label>
                                <input name="birthday" type="date" placeholder="تاریخ تولد" value="{{ user_profile.birthday|date:"Y-m-d" }}" />
                            </div>
                        </div>
                        <button class="ui left floated orange submit button" type="submit" >ثبت تغییرات</button>
                    </form>
                </div>
            </div>

            <div class="ui divider"></div>
            <div class="row">
                <h3>تغییر رمز عبور</h3>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <form class="ui  form submit-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="pass" />
                        <div class="ui  one fields">
                            <div class="eight wide  field">
                                <label>رمز عبور فعلی</label>
                                <input name="passwordCurrent" type="password" placeholder="Current Pasword">
                            </div>
                        </div>
                        <div class="ui  one fields">
                            <div class="eight wide field">
                                <label>رمز عبور جدید</label>
                                <input name="passwordNew" type="password" placeholder="New Password">
                            </div>
                        </div>
                        <div class="ui  one fields">
                            <div class="eight wide field">
                                <label>تکرار رمز عبور جدید</label>
                                <input name="passwordNewReply" type="password" placeholder="Confirm New Password">
                            </div>
                        </div>
                        <button class="ui left floated orange submit button" type="submit" >ثبت تغییرات</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>-->
    <script type="text/javascript" src="{% static 'accounts/js/settings.js' %}"></script>
{% endblock %}
