<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'general/css/semantic/semantic.css' %}"/>
    <link rel="stylesheet" href="{% static 'general/css/generic-style.css' %}"/>

    {% block styles %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'general/js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/generic-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/header-footer.js' %}"></script>

</head>
<body>

<!-- header -->
<header class="header1">
    <div class="ui menu back-grey-menu no-borders">
        <div class="ui grid container ">
            <div class="ten wide column right aligned">
                <div class="ui row row-margin1">
            <span>فروشگاه اینترنتی کتابینو ،
                {% if user.is_authenticated %}
                    سلام {{ user.first_name }} {{ user.last_name }} !
                    <a href="{% url 'accounts:user_logout' %}">(خروج)</a>
                {% else %}
                    <a href="{% url 'accounts:user_login' %}">وارد شوید</a>
                {% endif %}
            </span>

                </div>
                <div class="ui row row-margin2">
                    <div class="ui search">
                        <form action="{% url 'search:search' %}">
                            <div class="ui simple scrolling fluid search left icon input search-tab">

                                <i class="search icon"></i>
                                <input id="search-bar" class="prompt" style="text-align: right" type="text" placeholder="نام کتاب" name="phrase" />

                            </div>
                            <div class="results"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="four wide column left aligned">
                <h2 class="logo">کتابینو</h2>
            </div>
            <div class="two wide column center aligned">
                <a href="/">
                    <img class="logo-img" src="{% static 'site-media/photos/general/book-icon.png' %}">
                </a>
            </div>

        </div>
    </div>
    <div class="ui menu  no-borders " id="menu2">
        <div class="ui container">
            <a class="red link item {% if category == 'عمومی'%}active{% endif %}" {% if category != 'عمومی' %}href="{% url 'books:get_category' 'عمومی'%}"{% endif %}>
                کتاب عمومی
            </a>
            <a class="purple link item {% if category == 'فانتزی'%}active{% endif %}" {% if category != 'فانتزی' %}href="{% url 'books:get_category' 'فانتزی'%}"{% endif %}>
                کتاب فانتزی
            </a>
            <a class="blue link item {% if category == 'آموزشی'%}active{% endif %}" {% if category != 'آموزشی' %}href="{% url 'books:get_category' 'آموزشی'%}"{% endif %}>
                کتاب آموزشی
            </a>
            <a class="pink link item {% if category == 'تاریخ'%}active{% endif %}" {% if category != 'تاریخ' %}href="{% url 'books:get_category' 'تاریخ'%}"{% endif %}>
                کتاب تاریخ
            </a>
            <a class="teal link item {% if category == 'هنر'%}active{% endif %}" {% if category != 'هنر' %}href="{% url 'books:get_category' 'هنر'%}"{% endif %}>
                کتاب هنر
            </a>
            {% if request.user.is_authenticated %}
            <a class="green link item" href="{% url 'books:new_book' %}">
                افزودن کتاب جدید
            </a>
            {% endif %}
        </div>
    </div>

</header>


{% block content %}
{% endblock %}


<footer class="site-footer">
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui  four column grid ">
                <div class="ui row">
                    <div class="three wide right aligned column">
                        <div class="ui animated large relaxed link right aligned list">
                            <h4 class="header bold" style="text-align: right">منو ها</h4>
                            </hr>
                            <a href="" class="item">خانه</a>
                            <a class="item">قوانین</a>
                        </div>
                    </div>
                    <div class="three wide right aligned column">
                        <div class="ui animated large relaxed link right aligned list">

                            {% if request.user.is_authenticated %}
                            <h4 class="header bold"> پروفایل شما</h4>
                            {% endif %}
                            </hr>
                            {% if user.is_authenticated %}
                                {% if user.userprofile %}
                                    <a href="{% url 'accounts:user_profile' request.user.id %}" class="item">حساب کاربری
                                    </a>
                                    <a class="item">سبد خرید</a>

                                {% elif user.vendor %}
                                    <a href="" class="item">حساب ارائه‌دهنده</a>
                                {% endif %}
                            {% else %}
                                <a class="item" href="{% url 'accounts:user_login' %}">ورود</a>
                                <a class="item" href="">ثبت نام</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="four wide right aligned column" >

                    </div>
                    <div class="six wide right aligned column">
                        <h4 class="header">درباره ما</h4>
                        <div>
                            <p>
                                ما می‌توانیم.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical footer2 segment">
        <div class="ui center aligned container">
            <div class="ui grid container">
                <div class="ten wide column right aligned">
                </div>
                <div class="six wide column right aligned">
                    <h5 class="ui header copyright" >Copyright © 2017 Ketabino</h5>
                </div>
            </div>
        </div>
    </div>
</footer>


{% block scripts %}
{% endblock %}


</body>
</html>
